<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>

    <style>
        .title {
            background-color: rgb(255, 252, 90);
            max-width: 930px;
            padding: 5px;
        }

        .user-name {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .saved-recipes {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .profile-background {
            background-color:  rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        img {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }
        
    </style>

<script>
    window.addEventListener("DOMContentLoaded", domLoaded);
    function domLoaded() {


        let FirstNameElement = document.getElementById("fname");
        let LastNameElement = document.getElementById("lname");

        let fnameBtnElement = document.getElementById("saveBtnf");
        let lnameBtnElement = document.getElementById("saveBtnl");

        let recipeFavElement = document.getElementById("recipes");
        let backgroundColorElement = document.getElementById("color-choice");
        

        document.getElementById("add-recipe-btn").addEventListener("click", addRecipe);


        function changeColor(event) {
            if(backgroundColorElement.value == "blue" ) {
                $(".user-name").css("background-color", "blue");
                $(".saved-recipes").css("background-color", "blue");
                $(".profile-background").css("background-color", "blue");
            }
            else if(backgroundColorElement.value == "green" ) {
                $(".user-name").css("background-color", "green");
                $(".saved-recipes").css("background-color", "green");
                $(".profile-background").css("background-color", "green");
            }
            else if(backgroundColorElement.value == "yellow" ) {
                $(".user-name").css("background-color", "yellow");
                $(".saved-recipes").css("background-color", "yellow");
                $(".profile-background").css("background-color", "yellow");
            }   
            else if(backgroundColorElement.value == "red" ) {
                $(".user-name").css("background-color", "red");
                $(".saved-recipes").css("background-color", "red");
                $(".profile-background").css("background-color", "red");
            }   
            else if(backgroundColorElement.value == "orange" ) {
                $(".user-name").css("background-color", "orange");
                $(".saved-recipes").css("background-color", "orange");
                $(".profile-background").css("background-color", "orange");
            }
            else 
                event.preventDefault();   
        }
        document.getElementById("color-btn").addEventListener("click", changeColor);
        


    }
</script>

</head>

<body>
    <div class="title">
        <h1>Your Profile</h1>
    </div>

    <% //debugger; %>
    <form action="/profile/<%= response._id %>" method="POST">
    
        <div class="user-name">
            <label>First Name:
                <input type="text" id="firstName" name="firstName">
            </label> 
        
            <p></p>

            <label>Last Name:
                <input type="text" id="lastName" name="lastName">
            </label>
        </div>


    <button id="profile-edit"><a href="/editprofile/<%= response._id %>">Click to Edit Profile</a></button>

    <div class="profile-background">
        <label>Background Color:
            <select name="backgroundColor" id="backgroundColor">
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="red">Red</option>
                <option value="orange">Orange</option>
            </select>
        </label>
    </div>

    <div class="saved-recipes">
        <h2>Saved Recipes</h2>
        <select name="recipe-options" id="recipes">
            <option value="Pork Bun">Pork Bun</option>
            <option value="Fried Rice">Fried Rice</option>
            <option value="Birria Tacos">Birria Tacos</option>
            <option value="Sushi Roll">Sushi Roll</option>
            <option value="Shwarma">Shwarma</option>
            <option value="Shwarma Fries">Shwarma Fries</option>
            <option value="Crepe">Crepe</option>
            <option value="Pork Rib">Pork Rib</option>
            <option value="Pho">Pho</option>
            <option value="Saimen">Saimen</option>
            <option value="Chicken Sandwich">Chicken Sandwich</option>
            <option value="Breakfast Sandwich">Breakfast Sandwich</option>
        </select>

        <div id="saved-imgs">

        </div>
    </div>

    <a href="/home">Back to Home Page</a>

    </form>
</body>
</html>