<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link href="home.css" rel="stylesheet">

    <style>
        .intro {
            background-color: rgb(255, 252, 90);
            max-width: 930px;
            padding: 5px;
        }

        .info {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
            display: flex;
        }

        .suggested {
            background-color: rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        .featured-recipe {
            background-color: rgb(211, 242, 249);
            padding: 5px;
            max-width: 930px;
            display: grid;
        }

        #img1, #img2, #featured {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }
        #img3, #img4 {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }

        #profile-pic {
            width: 200px;
            height: 220px;
            border-color: black;
            border-width: 1px;
            border-radius: 15px;
        }

        .description {
            margin: 10px;
        }

        .profile h3 {
            position: relative;
            left: 70px; 
        }

        .description h3 {
            position: relative;
            left: 100px;
        }

        .suggested h3 {
            position: relative;
            left: 390px;
        }
        .forms {
            display: flex;
        }

        .search-recipe {
            position: relative;
            top: 20px; 
            left: 700px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>

    <script>
        const recipes = ['recipe_images/pork_bun.jpg',
                        'recipe_images/fried_rice.jpg',
                        'recipe_images/biscuit_chicken.jpg',
                        'recipe_images/sushi_roll.jpg',
                        'recipe_images/birria_tacos.jpg',
                        'recipe_images/breakfast_sandwich.jpg',
                        'recipe_images/crepe.jpg',
                        'recipe_images/pho.jpg',
                        'recipe_images/saimen.jpg',
                        'recipe_images/shwarma.jpg',
                        'recipe_images/shwarma_fries.jpg',
                        'recipe_images/pork_rib.jpg'];
    </script>

    <script>



        window.addEventListener("DOMContentLoaded", domLoaded);
        function domLoaded() {

            var featureNum = Math.floor(Math.random() * 12);
            $("#featured").attr("src", "/" + recipes[featureNum]);
            document.getElementById("feature-btn").value = recipes[featureNum];


            let filterElement = document.getElementById("filter");
            function handlePreference(event) {
                if(filterElement.value == "breakfast") {
                    $("#img1").attr("src", "/recipe_images/biscuit_chicken.jpg" );
                    document.getElementById("btn1").value = "recipe_images/biscuit_chicken.jpg";
                    $("#img2").attr("src", "/recipe_images/crepe.jpg" );
                    document.getElementById("btn2").value = "recipe_images/crepe.jpg";
                    $("#img3").attr("src", "/recipe_images/breakfast_sandwich.jpg" );
                    document.getElementById("btn3").value = "recipe_images/breakfast_sandwich.jpg";
                }
                else if(filterElement.value == "lunch") {
                    $("#img1").attr("src", "/recipe_images/birria_tacos.jpg" );
                    document.getElementById("btn1").value = "recipe_images/birria_tacos.jpg";
                    $("#img2").attr("src", "/recipe_images/shwarma_fries.jpg" );
                    document.getElementById("btn2").value = "recipe_images/shwarma_fries.jpg";
                    $("#img3").attr("src", "/recipe_images/pork_bun.jpg" );
                    document.getElementById("btn3").value = "recipe_images/pork_bun.jpg";
                }
                else if(filterElement.value == "dinner") {
                    $("#img1").attr("src", "/recipe_images/pho.jpg" );
                    document.getElementById("btn1").value = "recipe_images/pho.jpg";
                    $("#img2").attr("src", "/recipe_images/saimen.jpg" );
                    document.getElementById("btn2").value = "recipe_images/saimen.jpg";
                    $("#img3").attr("src", "/recipe_images/pork_rib.jpg" );
                    document.getElementById("btn3").value = "recipe_images/pork_rib.jpg";
                }
                else {
                    event.preventDefault();   
                }


            }
            document.getElementById("filter-btn").addEventListener('click', handlePreference)
        }
    </script>
</head>

<body>
    <div class="intro">
        <h1>Jackie's Snackies</h1>

        <div class="search-recipe">
        
            <form action="/recipe" method="post" id="search-form">
                <input type="text" id="recipeName" name="recipeName">
                <input type="submit" value="Search" id="search-btn">
            </form>
        </div>

        <div class="navigation"> 
            <nav>
                <a href="#profile-pic">Information</a>
                <a href="#suggested">Explore</a>
            </nav>
        </div>
    </div>

    <div class="info">
        <div class="profile">
            <h3>Profile</h3>
            <img src="/recipe_images/profile_pic.jpg" alt="profile" id="profile-pic">

            <button id="profile-btn"><a href="/profile">Go to Profile</a></button>
        </div>

        <div class="description">
            <h3>A Recipe Website for all your snacking needs</h3>
            <p>
                Our mission is give our users a satisfactory experience
                in finding recipes that are delicious and fun. This website 
                contains many recipes ranging from breakfast to dinner and more. 
            </p>

            <p>
                The are many ways to find what you are looking for and to discover new 
                recipes! To find a specific recipe, use the search bar and enter in the 
                name of the recipe. To go to the featured recipe or one of the recipes in the explore, 
                click on the image. 
            </p>
            <p>
                To create, view, or edit your profile or add to your favorite recipes, 
                just click the button "GO to Profile".
            </p>
            <p>
                Enjoy!
            </p>
        </div>
    </div>



    <div class="suggested" id="suggested">
        <div>
            <label>Filter Explore: </label>
            <select name="filter" id="filter">
                <option value="any">Any</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="breakfast">Breakfast</option>
            </select>
            <input type="button" id="filter-btn" value="Save preferences">
        </div>

        <h3>Explore Suggested</h3>
        <div class="forms">
            <form action="/recipe" method="post" id="form1">
                <button type="submit" name="recipeurl" value="recipe_images/pork_rib.jpg" id="btn1"><img id="img1" src="/recipe_images/pork_rib.jpg"></button>
                <button type="submit" name="recipeurl" value="recipe_images/fried_rice.jpg" id="btn2"><img id="img2" src="/recipe_images/fried_rice.jpg"></button>
                <button type="submit" name="recipeurl" value="recipe_images/shwarma_fries.jpg" id="btn3"><img id="img3" src="/recipe_images/shwarma_fries.jpg"></button>
                <!-- <button type="submit" name="recipeurl" value="recipe_images/biscuit_chicken.jpg" id="btn4"><img id="img4" src="/recipe_images/biscuit_chicken.jpg"></button> -->
            </form>
        </div>

    </div>

    <div class="featured-recipe">
        <h3>Featured Recipe</h3>

    <form action="/recipe" method="post" id="featured-img">
        <button type="submit" name="recipeurl" id="feature-btn"><img id="featured" src=""></button>
    </form>
    </div>

</body>
</html>