<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>

    <style>
        .title {
            background-color: rgb(255, 252, 90);
            max-width: 930px;
            padding: 5px;
        }

        .user-name {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .saved-recipes {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .profile-background {
            background-color:  rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        img {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }
        
    </style>

<script>
    window.addEventListener("DOMContentLoaded", domLoaded);
    function domLoaded() {


        let FirstNameElement = document.getElementById("fname");



    }
</script>

</head>

<body>
    <div class="title">
        <h1>Your Profile</h1>
    </div>

    
    <form action="/profilecreated" method="post">
        <div class="user-name">
            <label>First Name:
                <input type="text" id="firstName" name="firstName">
            </label> 
        
            <p></p>

            <label>Last Name:
                <input type="text" id="lastName" name="lastName">
            </label>
        </div>
        <button type="submit">Save Profile</button>
    </form>

    <a href="/home">Back to Home Page</a>
</body>
</html>