<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>
     
     <style>
        .title {
            background-color: rgb(255, 252, 90);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-description {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-ingredients {
            background-color: rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-steps {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }
        .user-ratings {
            background-color: rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        #pic {
            width: 500px;
            height: 650px;
            position: relative;
            left: 200px; 
            border-color: black; 
            border-width: 1px;
            border-style: inset;
            margin: 6px;
        }

        img {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }
    </style>

    <script>
        window.addEventListener("DOMContentLoaded", domLoaded);

        let LikesElement = document.getElementById("likes");
        function domLoaded() {
            function updateLikes() {
                LikesElement.innerText = parseInt(LikesElement.innerText) + 1;
            }

            document.getElementById("likes-btn").addEventListener("click", updateLikes);

        }
    </script>


</head>

<body>
    <% //debugger; %>
    <form action="/recipeedit/<%= response._id %>" method="POST">

        <div class="title">
            <h1 id="recipeName"><%= response.recipeName %></h1>
            </div>
    
        <div class="user-ratings" id="user-ratings">

            <h4>Like</h4>
            <input type="radio" value="1" id="likes" name="likes">
            <p>
                <%= response.likes %>
            </p>
            
            <div id="comment">
                <h4>Comment</h4>
                    <input type="text" id="comments" name="comments">
            </div>

            <div id="photo-upload">
                <h4>Upload Photos</h4>
                <input type="text" id="upload-photo" name="upload-photo" placeholder="url">
                <input type="button" id="uphoto-btn" value="upload"> 
            </div>
        </div>

        <button type="submit">Edit (Save Changes)</button>
    </form>

    <a href="/home">Back to Home Page</a> -->



</body>


</html>