<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>
     
     <style>
        .title {
            background-color: rgb(255, 252, 90);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-description {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-ingredients {
            background-color: rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-steps {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }
        .user-ratings {
            background-color: rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        #pic {
            width: 500px;
            height: 650px;
            position: relative;
            left: 200px; 
            border-color: black; 
            border-width: 1px;
            border-style: inset;
            margin: 6px;
        }

        img {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }

        #likes {
            width: 10px
        }
    </style>

    <script>
        window.addEventListener("DOMContentLoaded", domLoaded);
        function domLoaded() {


            likeElement = document.getElementById("like-num");
            function likeForm(event) {
                document.getElementById("btn-label").innerText = "";
                document.getElementById("likes").value = parseInt(document.getElementById("likes").value) + 1;
            }
            document.getElementById("like-btn").addEventListener('click', likeForm)
        
        
            const fileInput = document.getElementById('pictureInput')

            // This is for storing the base64 strings
            let myFiles = {}
            // if you expect files by default, make this disabled
            // we will wait until the last file being processed
            let isFilesReady = true

            fileInput.addEventListener('change', async (event) => {
            // clean up earliest items
            myFiles = {}
            // set state of files to false until each of them is processed
            isFilesReady = false

            // this is to get the input name attribute, in our case it will yield as "picture"
            // I'm doing this because I want you to use this code dynamically
            // so if you change the input name, the result also going to effect
            const inputKey = fileInput.getAttribute('name')
            var files = event.srcElement.files;

            const filePromises = Object.entries(files).map(item => {
                return new Promise((resolve, reject) => {
                const [index, file] = item
                const reader = new FileReader();
                reader.readAsBinaryString(file);

                reader.onload = function(event) {
                    // if it's multiple upload field then set the object key as picture[0], picture[1]
                    // otherwise just use picture
                    const fileKey = `${inputKey}${files.length > 1 ? `[${index}]` : ''}`
                    // Convert Base64 to data URI
                    // Assign it to your object
                    myFiles[fileKey] = `data:${file.type};base64,${btoa(event.target.result)}`

                    resolve()
                };
                reader.onerror = function() {
                    console.log("can't read the file");
                    reject()
                };
                })
            })

            Promise.all(filePromises)
                .then(() => {
                console.log('ready to submit')
                isFilesReady = true
                })
                .catch((error) => {
                console.log(error)
                console.log('something wrong happened')
                })
            })

            const formElement = document.getElementById('formcarryForm')

            const handleForm = async (event) => {
            event.preventDefault();

            if(!isFilesReady){
                console.log('files still getting processed')
                return
            }
            
            const formData = new FormData(formElement)

                // get name and message input from our <form> element
            let data = {
                'name': formData.get('name'),
                'message': formData.get('message')
            }

                // iterate over the base64 files we've converted
            Object.entries(myFiles).map(item => {
                // destruct the file
                const [key, file] = item
                // append it to our data object
                data[key] = file
            })

            console.log(data)
            }

            formElement.addEventListener('submit', handleForm)
        }
    </script>


</head>

<body>
    <% //debugger; %>
    <form action="/recipeedit/<%= response._id %>" method="POST">

        <div class="title">
            <h1 id="recipeName"><%= response.recipeName %></h1>
            </div>
    
        <div class="user-ratings" id="user-ratings">

            
            <label >Current Number of Likes:
                <input type="text" value="<%= response.likes %>" id="likes" name="likes" readonly>
                <label id="btn-label"><input type="button" value="Click to Like" id="like-btn"></label>
                
            </label>
            
            <p></p>
            <div id="comment">
                <label>Create a Comment
                    <input type="text" id="comments" name="comments">
                </label>
            </div>

        </div>

        <button type="submit">Post Content</button>
    </form>

    <a href="/home">Back to Home Page</a>



</body>


</html>